<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="SettingsGroup--FromAkv" value="FromAkv-devops-10" />
	<add key="SettingsGroup--FromAkvEncryptedInGit" isEncrypted="true" value="X2AVFoLff6ce4fcldvm0jbjInXJYTC5685P6WD8rac5at1Ubz8h7msUx/GoRbr8UhRO3HeRMbsQW02iySaNfd7NZOnNlw6/MT/JLTdV+iG9B9Pv3KDZxQhJb+3n33LcwOfAegAJFGIpzalLwTjIqiWgk6PQr6jwqVD9ZWecTBiD7oH5Z1/sJD1iyV8P2mA/SYVU6lCs45AcaQkUj1NVja8Y+Yp/BXcdI2yp0czyZbAKHiwY0cAW/2oLKMzSjCpk+WUcMyBKEugpYTBbqr4fhvM/V1la3rBf4jrr0OYC0q9awFS3o2dUmAPIZUxgLx3XPZkvSF9xvoygEQR46DOKIMg==" />
</configuration>