<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="SettingsGroup--FromAkv" value="FromAkv-devops2" />
	<add key="SettingsGroup--FromAkvEncryptedInGit" isEncrypted="true" value="H8WCXwVHRJOgioExR0QFxQ1gMiXnEP4H8CKTjdWbiC/9i2dU5sk05RmB7CsXWjDyu9Lb9usQQPC++N+cT3Ksv4U+18iux6m7gfitqP9Oa7HjYjShsZhDksiT9FNs755oMtByu2d5n7MXwtZbbKkUVgzs0JI2cvdwOi4lGgH3Zj1Z3/T8GP/FasUHADtNnqezGlLxJwG7M/WTvz7DfMLckAGcvbaXHy0EaWzkuWLN711HaTQLbte9QMxY2yvO/laUkLCZidUHwzQyXMgmik/3LaVFnchHUp5WbTfc2GtaHm4EwPPDrhZMepHXALFBj/LXp41hAseYYKiYZXnFaBB4mQ==" />
</configuration>