<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="SettingsGroup--FromAkv" value="FromAkv-devops-10" />
	<add key="SettingsGroup--FromAkvEncryptedInGit" isEncrypted="true" value="uuc+vVyQPr1U7KXx1lsJ2h5QIy9GWv3BnKWT4xUs8fAh7YEdKKX2p9PcLUVU66feO/S1hj25JCP/z83itnuRwLvwXzwQoNtXJJCUZdpW3Maf9ppMBpIhP5508l1CJ+1RQXwTxmsP53mSUsa/tA4BXxyloE2hthSjAmj63HGqEQKAk4li0EESMRzfd7SHZdbigBdcr+CX/BxYq6/XfAre+QMmXXwk+BDjuFaePsdUzI7SjxrS8ArlO+To53UQyN4SRGEG//hT6Kt3R5azKwEtszgnCZWPuifnbvur35lHPVqxHSzFjoIxLG3sJhrW5xvDVUGCZaTfWZomKC4ZSaMKUQ==" />
</configuration>