<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<add key="SettingsGroup:FromAppConfigurationSimple" value="FromAppConfiguration" />
	<add key="SettingsGroup:FromAppConfigurationComplex" contentType="application/json" value="{ \&quot;fontSize\&quot;: 10, \&quot;useDefaultRouting\&quot;: false}" />
	<add key="SettingsGroup:FromAkv" isKeyVaultRef="true" secretIdentifier="https://akv-global-azure.vault.azure.net/secrets/SettingsGroup-FromAkv/"  />
</configuration>